@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
    @apply dark:bg-primary-1 bg-secondary-1 dark:text-primary-1 text-primary-1 font-karla;
    /* color: rgb(var(--foreground-rgb)); */
    background: url('/background.jpg') no-repeat fixed center;
    /* background: linear-gradient(to bottom,transparent,rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none; 

}
@layer components {
    .cards {
        padding:1rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
        grid-gap: 1rem;
    }
    .scrollableContainer {
        height:100%;
        overflow-y:scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .educationItem {
        @apply py-1;
    }
    .scrollableContainer::-webkit-scrollbar {
        display: none;
    }
    .menuListItem {
        @apply cursor-pointer hover:text-feature-1;
    }

    .activeMenuBar {
        @apply block absolute m-3 h-1 w-8 rounded-lg bg-feature-1 transition-all duration-150 ease-linear z-40;
    }
    .activeMenuBar:nth-child(1) {
        top:22px;
    }
    .activeMenuBar:nth-child(2) {
        top:34px;
    }
    .activeMenuBar:nth-child(3) {
        top:46px;
    } 
    .footerLi {
        @apply hover:text-feature-1 transition-all duration-150;
    }
    .sidebar-icon {
        @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto  
       hover:bg-feature-1 bg-gray-800 text-feature-1 hover:text-white
        rounded-full transition-all duration-300 ease-linear cursor-pointer shadow-lg;
      }
      .sidebar-tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max top-11 rounded-md shadow-md text-white
        bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-top;
      }
}